<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" />
<title>App Mes Informations</title>
</head>
<body>
	<h2>Navegador: [[${navegador}]]</h2>
	<br/>
	<h2>Versão: [[${versao}]]</h2>
	<br/>
	<h2>IP: [[${ip}]]</h2>
	<br/>
	<h2>Sistema operacional: [[${os}]]</h2>
	<br/>
	<h2>Dispositivo: [[${dispositivo}]]</h2>
	<br/>
	<h2>Marca: [[${marca}]]</h2>
	<br/>
	<h2>Grupo: [[${grupo}]]</h2>
	
</body>
</html>